{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel étudiant{% endblock %}

{% block body %}
<h1>Créer un nouvel étudiant</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Créer</button>
{{ form_end(form) }}

<a href="{{ path('etudiant_index') }}">Retour à la liste</a>
{% endblock %}
